<p id="notice"><%= notice %></p>
<p>
  <b>Catalog:</b>
  <%= @page.catalog_id %>
</p>

<p>
  <b>Category:</b>
  <%= @page.category_id %>
</p>
<p>
  <b>Page number:</b>
  <%= @page.page_number %>
</p>

<table>

<div style="background-color:darkGray; font-size:30; padding-top:30px; padding-bottom:30px;">

<% 3.times do |row| %>

  <tr>
	<td><p><img border="1" width="350" height="400" float="right" src="<%= @page_items[row*3 + 0].preview_page %>"></img></p></td>
	<td><p><img border="1" width="350" height="400" float="right" src="<%= @page_items[row*3 + 1].preview_page %>"></img></p></td>
	<td><p><img border="1" width="350" height="400" float="right" src="<%= @page_items[row*3 + 2].preview_page %>"></img></p></td>
  </tr>
<% end %>
</table>

</div>





<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
